@import '../../assets/colors';
.wrapper {
    padding:0 10px 10px 10px;
    .users{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width:600px){
    .wrapper{
        text-align: center;
        .users{
            justify-content: center;
        }

    }
}
