
$сolorActive:rgb(0, 174, 255);
$bgColorHover:rgb(135, 206, 250);
$shadowColor:rgb(88, 156, 199);
$fontColor:rgb(0, 0, 0);
$errorColor:rgb(244, 67, 54);
$successColor:rgb(26, 201, 32);
$bgcolorWhite:rgb(255, 255, 255);
$colorButtonHover:rgba(135, 206, 250, 0.473);
$twitterColor:rgb(29, 161, 242);
$bgColorHoverTransparent:rgba(135, 206, 250, 0.13);
$scrollBarcolor:rgba(135, 206, 250, 0.562);
$bgColorDialogs:rgb(185, 228, 255)
